<app-header></app-header>
<div class="item" style="background-image:url(assets/img/front-page-image-v2.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-md-offset-2">
        <div class="fh5co-owl-text-wrap">
          <div class="fh5co-owl-text text-center to-animate">
            <h1 class="fh5co-lead">PROTECT. PREVENT. SECURE</h1>
            <h2 class="fh5co-sub-lead">Protect Products. Prevent Loss. Secure Your Bottom Line.</h2>
            <a class="fusion-button button-flat fusion-button-square button-xlarge button-custom button-1" target="_self" routerLink="/products"><span class="fusion-button-text">Find out about the Keepsafe Advantage. </span></a><a class="fusion-button button-flat fusion-button-square button-xlarge button-custom button-2" target="_self" href="http://www.productprotectionsolutions.com/contact-us"><span class="fusion-button-text">CONTACT US TODAY</span></a> </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="Guaranteed">
  <div class="row text-center">
    <div class="col-md-12 col-md-offset-2">
      <h2 style="font-weight: 300; text-align: center;" data-fontsize="32" data-lineheight="41"><span style="color: #ffffff;">Driven to Find Your Best Product Protection Solutions. Guaranteed.</span></h2>
    </div>
  </div>
</div>
<div class="container abt">
  <div class="row text-center">
    <div class="col-md-8 col-md-offset-2">.
      <h2 style="text-align: center;" data-fontsize="32" data-lineheight="41">Products Proven to Secure Any Product.<br/>
        Guaranteed.</h2>
      <div class="fusion-sep-clear"></div>
      <div class="fusion-separator sep-single sep-solid"> </div>
      <p>PPS is focused on providing both consultative and physical loss prevention solutions that include AM, RF and RFID enabled products. We want to work with our customers to find the best solutions to fit their needs.</p>
    </div>
  </div>
  <div class="container">
    <div class="row text-center">
      <div class="card-container col-md-3">
        <div class="card">
          <div class="front">
            <div class="flip-box-grafix flip-box-circle"><i class="fa fa-suitcase" style="color:#55a045;"></i></div>
            <h2 class="flip-box-heading" style="color: rgb(51, 51, 51);" data-fontsize="32" data-lineheight="41">Safers</h2>
            <span>KEEPSAFE SERIES</span> </div>
          <div class="back">
            <h3 class="flip-box-heading-back" style="color: rgb(51, 51, 51);" data-fontsize="18" data-lineheight="27">Safers</h3>
            <a class="fusion-button button-flat fusion-button-square button-large button-custom button-3" target="_self" href="http://www.productprotectionsolutions.com/safers"><span class="fusion-button-text">View Product</span></a></div>
        </div>
      </div>
      <div class="card-container col-md-3">
        <div class="card">
          <div class="front">
            <div class="flip-box-grafix flip-box-circle"><i class="fa fa-beer" style="color:#55a045;"></i></div>
            <h2 class="flip-box-heading" style="color: rgb(51, 51, 51);" data-fontsize="32" data-lineheight="41">Beverages</h2>
            <span>KEEPSAFE SERIES</span> </div>
          <div class="back">
            <h3 class="flip-box-heading-back" style="color: rgb(51, 51, 51);" data-fontsize="18" data-lineheight="27">Bottle Protecton</h3>
            <a class="fusion-button button-flat fusion-button-square button-large button-custom button-3" target="_self" href="http://www.productprotectionsolutions.com/safers"><span class="fusion-button-text">View Product</span></a></div>
        </div>
      </div>
      <div class="card-container col-md-3">
        <div class="card">
          <div class="front">
            <div class="flip-box-grafix flip-box-circle"><i class="fa fa-black-tie" style="color:#55a045;"></i></div>
            <h2 class="flip-box-heading" style="color: rgb(51, 51, 51);" data-fontsize="32" data-lineheight="41">H-Tags</h2>
            <span>KEEPSAFE SERIES</span> </div>
          <div class="back">
            <h3 class="flip-box-heading-back" style="color: rgb(51, 51, 51);" data-fontsize="18" data-lineheight="27">Titan H-Tags & Detachers</h3>
            <a class="fusion-button button-flat fusion-button-square button-large button-custom button-3" target="_self" href="http://www.productprotectionsolutions.com/safers"><span class="fusion-button-text">View Product</span></a></div>
        </div>
      </div>
      <div class="card-container col-md-3">
        <div class="card">
          <div class="front">
            <div class="flip-box-grafix flip-box-circle"><i class="fa fa-dropbox" style="color:#55a045;"></i></div>
            <h2 class="flip-box-heading" style="color: rgb(51, 51, 51);" data-fontsize="32" data-lineheight="41">Alarms</h2>
            <span>KEEPSAFE SERIES</span> </div>
          <div class="back">
            <h3 class="flip-box-heading-back" style="color: rgb(51, 51, 51);" data-fontsize="18" data-lineheight="27">Alarm Series</h3>
            <a class="fusion-button button-flat fusion-button-square button-large button-custom button-3" target="_self" href="http://www.productprotectionsolutions.com/safers"><span class="fusion-button-text">View Product</span></a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fusion-fullwidth fullwidth-box fusion-blend-mode fusion-parallax-up nonhundred-percent-fullwidth bg-parallax-parent" >
  <div class="parallax-inner" ></div>
  <div class="fusion-builder-row fusion-row ">
    <div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1  fusion-one-full fusion-column-first fusion-column-last 1_1" style="margin-top:0px;margin-bottom:0px;">
      <div class="fusion-column-wrapper">
        <div class="fusion-section-separator section-separator fusion-section-separator-with-offset" style="padding:0;margin-left:calc( (100vw - 100% ) / -2  );margin-right:calc( (100vw - 100% ) / -2   );">
          <svg id="bigHalfCircleCandy" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none" style="fill:#ffffff;padding:0;">
            <path d="M0 0 C55 180 100 0 100 0 Z"/>
          </svg>
        </div>
        <div class="fusion-clearfix"></div>
      </div>
    </div>
    <div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1  fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1" style="margin-top:100px;margin-bottom:55px;">
      <div class="fusion-column-wrapper" >
        <div class="fusion-clearfix"></div>
      </div>
    </div>
    <div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1  fusion-one-full fusion-column-first fusion-column-last 1_1" style="margin-top:0px;margin-bottom:0px;">
      <div class="fusion-column-wrapper" >
        <div class="fusion-section-separator section-separator fusion-section-separator-with-offset" style="padding:0;margin-left:calc( (100vw - 100% ) / -2  );margin-right:calc( (100vw - 100% ) / -2   );">
          <svg id="bigHalfCircleCandy" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none" style="fill:#ffffff;padding:0;">
            <path d="M0 100 C40 0 60 0 100 100 Z"/>
          </svg>
        </div>
        <div class="fusion-clearfix"></div>
      </div>
    </div>
  </div>
</div>
<div class="value">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-8 col-md-offset-2">
        <h2 style="text-align: center;" data-fontsize="32" data-lineheight="41">Our Core Values</h2>
      </div>
      <div class="fusion-sep-clear"></div>
      <div class="fusion-separator sep-single sep-solid"> </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 fusion-content-box-hover">
        <div class="col content-wrapper link-area-link-icon icon-hover-animation-pulsate" style="background-color:rgba(255,255,255,0);" data-animationoffset="100%">
          <div class="heading heading-with-icon icon-left">
            <div class="icon"><i style="border-color:#333333;border-width:0px;background-color:#4ea4a5;height:120px;width:120px;line-height:120px;border-radius:50%;color:#ffffff;font-size:60px;" class="fa fontawesome-icon fa-home circle-yes"></i></div>
            <h2 class="content-box-heading" style="font-size:16px;line-height:21px;" data-inline-fontsize="true" data-inline-lineheight="true" data-fontsize="16" data-lineheight="21">Building Relationships</h2>
          </div>
          <div class="fusion-clearfix"></div>
          <div class="content-container" style="color:#747474;">
            <div class="fusion-sep-clear"></div>
            <div class="fusion-separator sep-single sep-solid" style="border-color:#8f8f8f;border-top-width:2px;margin-left: auto;margin-right: auto;margin-top:0px;margin-bottom:20px;width:100%;max-width:20px;"></div>
            We value our customers and want to work together to find the LP or EAS solution that provides the best protection for your greatest assets. Our success is built upon your successes.</div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 fusion-content-box-hover ">
        <div class="col content-wrapper link-area-link-icon icon-hover-animation-pulsate" style="background-color:rgba(255,255,255,0);" data-animationoffset="100%">
          <div class="heading heading-with-icon icon-left">
            <div class="icon"><i style="border-color:#333333;border-width:0px;background-color:#a7cf47;height:120px;width:120px;line-height:120px;border-radius:50%;color:#ffffff;font-size:60px;" class="fa fontawesome-icon fa-lightbulb-o circle-yes"></i></div>
            <h2 class="content-box-heading" style="font-size:16px;line-height:21px;" data-inline-fontsize="true" data-inline-lineheight="true" data-fontsize="16" data-lineheight="21">Creative Solutions</h2>
          </div>
          <div class="fusion-clearfix"></div>
          <div class="content-container" style="color:#747474;">
            <div class="fusion-sep-clear"></div>
            <div class="fusion-separator sep-single sep-solid" style="border-color:#8f8f8f;border-top-width:2px;margin-left: auto;margin-right: auto;margin-top:0px;margin-bottom:20px;width:100%;max-width:20px;"></div>
            We are the little guys with big ideas. We work to find creative ways to solve your LP problems, even where no solution currently exists.</div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 fusion-content-box-hover  content-box-column-last">
        <div class="col content-wrapper link-area-link-icon icon-hover-animation-pulsate" style="background-color:rgba(255,255,255,0);" data-animationoffset="100%">
          <div class="heading heading-with-icon icon-left">
            <div class="icon"><i style="border-color:#333333;border-width:0px;background-color:#4e6da5;height:120px;width:120px;line-height:120px;border-radius:50%;color:#ffffff;font-size:60px;" class="fa fontawesome-icon fa-sun-o circle-yes"></i></div>
            <h2 class="content-box-heading" style="font-size:16px;line-height:21px;" data-inline-fontsize="true" data-inline-lineheight="true" data-fontsize="16" data-lineheight="21">Preventing Loss</h2>
          </div>
          <div class="fusion-clearfix"></div>
          <div class="content-container" style="color:#747474;">
            <div class="fusion-sep-clear"></div>
            <div class="fusion-separator sep-single sep-solid" style="border-color:#8f8f8f;border-top-width:2px;margin-left: auto;margin-right: auto;margin-top:0px;margin-bottom:20px;width:100%;max-width:20px;"></div>
            Preventing loss so that you can realize greater profitability is our primary mission. We want products to be available for your customers to purchase, without diminishing their overall experience.</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wine">
<div class="container">
  <div class="row"> <div class="col-md-8">
      <div class="fusion-column-content">
        <h1 style="font-weight: 300;" data-fontsize="34" data-lineheight="47"><span style="color: #ffffff;">Building&nbsp;Partnerships</span></h1>
        <div class="fusion-sep-clear"></div>
      <div class="fusion-separator sep-single sep-solid"> </div>
        <h3 data-fontsize="20" data-lineheight="29"><span style="color: #ffffff;">At PPS, we strive to build long-lasting partnerships with our customers by listening to their needs and finding strategic solutions that work.</span></h3>
      </div>
    </div>
<div class="col-md-4">
  <div class="fusion-column-wrapper">
      <div class="fusion-column-content">
        <div class="fusion-button-wrapper fusion-alignleft">
           <a class="fusion-button button-flat fusion-button-square button-xlarge button-default button-7" target="_self" title="Contact Us" href="http://www.productprotectionsolutions.com/#"><span class="fusion-button-text">CONTACT US TODAY</span></a></div>
        <div class="fusion-sep-clear"></div>
        <div class="fusion-separator fusion-full-width-sep sep-none" style="margin-left: auto;margin-right: auto;margin-top:10px;"></div>
        <p style="text-align: left;"><span style="color: #ffffff;">Only takes a few seconds!</span></p>
      </div>
</div></div>
</div>
</div>
</div>
<div class="fusion-footer">
  <footer role="contentinfo" class="fusion-footer-widget-area fusion-widget-area">
  <div class="container">
  <div class="row">
  	<div class="col-md-3"> <h4 class="widget-title" data-fontsize="15" data-lineheight="22">The ‘Keepsafe&trade; Advantage’</h4>
            <div class="textwidget">
              <p>Learn more about the Keepsafe&trade; Advantage and reduce shrink in your retail location.</p>

            </div></div><div class="col-md-3"> <h4 class="widget-title" data-fontsize="15" data-lineheight="22">Social Media</h4>
            <ul class="soci"><li><i class="fa fa-twitter" aria-hidden="true"></i></li><li><i class="fa fa-linkedin" aria-hidden="true"></i></li></ul>
            </div><div class="col-md-3"><h4 class="widget-title" data-fontsize="15" data-lineheight="22">CONTACT US TODAY</h4>
            <div class="textwidget">
              <ul class="fusion-checklist fusion-checklist-1" style="font-size:14px;line-height:23.8px;">
                <li class="fusion-li-item"><span style="height:23.8px;width:23.8px;margin-right:9.8px;" class="icon-wrapper circle-no"><i class="fusion-li-icon fa fa-globe" style="color:#717171;"></i></span>
                  <div class="fusion-li-item-content" style="margin-left:33.6px;">
                    <p></p>
                    <p>Corporate Location<br>
                      129 Seth Thomas Lane<br>
                      Suite #2<br>
                      Swansboro, North Carolina 28584</p>
                    <p></p>
                  </div>
                </li>
                <li class="fusion-li-item"><span style="height:23.8px;width:23.8px;margin-right:9.8px;" class="icon-wrapper circle-no"><i class="fusion-li-icon fa fa-envelope-o" style="color:#717171;"></i></span>
                  <div class="fusion-li-item-content" style="margin-left:33.6px;"><a style="padding: 0; border-bottom: none;" href="mailto:info@productprotectionsolutions.com">info@productprotectionsolutions.com</a></div>
                </li>
                <li class="fusion-li-item"><span style="height:23.8px;width:23.8px;margin-right:9.8px;" class="icon-wrapper circle-no"><i class="fusion-li-icon fa fa-phone" style="color:#717171;"></i></span>
                  <div class="fusion-li-item-content" style="margin-left:33.6px;"><a style="padding: 0; border-bottom: none;" href="tel:+12522269843">(252) 226 &ndash; 9843</a></div>
                </li>
                <li class="fusion-li-item"><span style="height:23.8px;width:23.8px;margin-right:9.8px;" class="icon-wrapper circle-no"><i class="fusion-li-icon fa fa-clock-o" style="color:#717171;"></i></span>
                  <div class="fusion-li-item-content" style="margin-left:33.6px;">Monday &ndash; Friday: 8:00 AM &ndash; 5:00 PM EST</div>
                </li>
                <li class="fusion-li-item"><span style="height:23.8px;width:23.8px;margin-right:9.8px;" class="icon-wrapper circle-no"><i class="fusion-li-icon fa fa-clock-o" style="color:#717171;"></i></span>
                  <div class="fusion-li-item-content" style="margin-left:33.6px;">Saturday &ndash; Sunday: CLOSED</div>
                </li>
              </ul>
            </div></div><div class="col-md-3"><h4 class="widget-title" data-fontsize="15" data-lineheight="22">FIND US</h4>
            <div class="textwidget">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d544.7738940443502!2d-77.15677506285691!3d34.70934342152222!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89a8e2d318f3c50b%3A0x9e2234a3a6e22e67!2s129+Seth+Thomas+Ln%2C+Swansboro%2C+NC+28584!5e0!3m2!1sen!2sus!4v1495500903707" style="border:0" allowfullscreen="" width="300" height="300" frameborder="0"></iframe>
            </div></div>
  </div>
  </div>
  </footer>
</div>
<div id="footer" class="fusion-footer-copyright-area">
<div class="container">
<div class="row">
<div class="col-md-6">
<span>COPYRIGHT 2017 Product Protection Solutions &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;ALL RIGHTS RESERVED&nbsp;&nbsp;	</span></div>
<div class="col-md-6">
<div class="fusion-social-networks">
<ul class="social"><li><i class="fa fa-facebook" aria-hidden="true"></i></li>
<li><i class="fa fa-twitter" aria-hidden="true"></i></li>
<li><i class="fa fa-linkedin" aria-hidden="true"></i></li>
<li><i class="fa fa-youtube-play" aria-hidden="true"></i></li>
<li><i class="fa fa-envelope-o" aria-hidden="true"></i></li>
</ul>
</div> <!-- fusion-row -->
</div>
</div>
</div></div>
