.card-body p , .card-body h4
{
  margin-bottom: 7px !important;
}

.card , .list-group-item
{
  cursor: pointer;
}

@charset "utf-8";
/* CSS Document */
.card .card-body {
  text-align: center;
}
.card-body h4 {
  font-size: 21px;
  height: 49px
}
.card-body .btn {
  padding: 8px 70px;
}
.card .card-body {
  background-color: rgba(0, 0, 0, 0.04);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  margin-top: 20px;
  padding: 17px 0;
  text-align: center;
}
